//##################################################
//################### TABS #######################
//##################################################

.tabs {
    @include grid (3, $separacion2);
    button {
        padding: 1rem 0;
        font-size: 1.4rem;
        font-weight: $bold;
        text-transform: uppercase;
        background-color: $blanco;
        outline: none;
        border: none;

        &.activo {
            background-color: $azul;
            color: $blanco;
        }

        &:hover {
            cursor: pointer;
        }
    }
}